@page "/"

<PageTitle>Classic Home</PageTitle>

<div class="home-content">
    <h1>Here’s Your Daily Dose of Dopamine</h1>

    <p>Hear the roar of a Mustang as the ground starts to tremble and your legs start to shake. As always, Mustang draws upon its performance roots with features for enhanced handling, high-powered engine options and a classic Mustang design.</p>
</div>


